.searchFeed {
  flex: 7;
}

.searchFeedWrapper {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightbarSearchContainer {
  width: 100%;
}

.searchFeedIcon {
  font-size: 20px;
  cursor: pointer;
  padding: 7px;
  border-radius: 50%;
}

.searchFeedIcon:hover {
  background-color: #efefef;
}

.searchFeedImgContainer {
  position: relative;
  cursor: pointer;
}

.searchFeedImg {
  width: 100%;
  object-fit: cover;
}

.searchFeedImgText {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.searchFeedTextTag {
  color: white;
  font-size: 14px;
}

.searchFeedTextText {
  margin-top: 5px;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.searchFeedNavigationContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.searchFeedNavigationItem {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  cursor: pointer;
  color: rgb(100, 100, 100);
  border-bottom: 3px solid transparent;
}

.searchFeedNavigationItem:hover {
  background-color: #efefef;
}

.searchFeedNavigationItem.active {
  color: black;
  border-bottom: 3px solid #1da1f2;
}
