.notificationFeed {
  flex: 7;
}

.notificationSelect {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid lightgray;
}

.notificationSelectItem {
  cursor: pointer;
  font-weight: bold;
  padding: 15px 50px;
  font-size: 17px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notificationSelectItem:hover {
  background-color: #e1e8ed;
}

.notificationSelectedItem {
  cursor: pointer;
  font-weight: bold;
  padding: 15px 50px;
  font-size: 17px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  text-decoration-color: #1da1f2;
  text-decoration-thickness: 5px;
}

.notificationNotification {
  padding: 10px 25px;
  display: flex;
  gap: 10px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.notificationNotification:hover {
  background-color: #e1e8ed;
}

.notificationNotificationIcon {
  font-size: 40px;
  color: #1da1f2;
}
